language: julia
os:
  - osx
  - linux
julia:
  - 0.5
  - 0.6
  - nightly
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia -e 'Pkg.clone(pwd()); Pkg.build("WCS"); Pkg.test("WCS"; coverage=true)';
after_success:
  - julia -e 'cd(Pkg.dir("WCS")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
